.dark-medium-contrast {
  --md-sys-color-primary: rgb(205 221 255);
  --md-sys-color-surface-tint: rgb(170 199 255);
  --md-sys-color-on-primary: rgb(0 37 81);
  --md-sys-color-primary-container: rgb(118 156 223);
  --md-sys-color-on-primary-container: rgb(0 12 34);
  --md-sys-color-secondary: rgb(207 221 252);
  --md-sys-color-on-secondary: rgb(24 38 61);
  --md-sys-color-secondary-container: rgb(131 145 173);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 204 255);
  --md-sys-color-on-tertiary: rgb(65 13 73);
  --md-sys-color-tertiary-container: rgb(196 134 200);
  --md-sys-color-on-tertiary-container: rgb(29 0 35);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(18 19 23);
  --md-sys-color-on-background: rgb(226 226 232);
  --md-sys-color-surface: rgb(18 19 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(67 71 80);
  --md-sys-color-on-surface-variant: rgb(217 220 232);
  --md-sys-color-outline: rgb(174 178 189);
  --md-sys-color-outline-variant: rgb(141 144 155);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 232);
  --md-sys-color-inverse-on-surface: rgb(40 42 46);
  --md-sys-color-inverse-primary: rgb(26 71 133);
  --md-sys-color-primary-fixed: rgb(214 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 43);
  --md-sys-color-primary-fixed-dim: rgb(170 199 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 53 111);
  --md-sys-color-secondary-fixed: rgb(214 227 255);
  --md-sys-color-on-secondary-fixed: rgb(3 17 39);
  --md-sys-color-secondary-fixed-dim: rgb(185 199 229);
  --md-sys-color-on-secondary-fixed-variant: rgb(41 54 79);
  --md-sys-color-tertiary-fixed: rgb(255 214 254);
  --md-sys-color-on-tertiary-fixed: rgb(37 0 44);
  --md-sys-color-tertiary-fixed-dim: rgb(242 176 245);
  --md-sys-color-on-tertiary-fixed-variant: rgb(84 32 91);
  --md-sys-color-surface-dim: rgb(18 19 23);
  --md-sys-color-surface-bright: rgb(67 68 73);
  --md-sys-color-surface-container-lowest: rgb(6 7 11);
  --md-sys-color-surface-container-low: rgb(28 30 34);
  --md-sys-color-surface-container: rgb(38 40 44);
  --md-sys-color-surface-container-high: rgb(49 50 55);
  --md-sys-color-surface-container-highest: rgb(60 61 66);
}
